@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
body {
    background-color: #ffffff;
}

.class1 {
    margin-top: 10%;
    width: 100%;
    margin-bottom: -80px;
    background-color: transparent;
}

.class2 {
    font-family: 'Pacifico', cursive;
    padding-top: 9%;
    padding-bottom: 9%;
    background-color: transparent;
}

.class3 {
    font-family: 'Quattrocento', serif;
    font-size: 150%;
    padding-top: 12%;
    padding-bottom: 5%;
    background-color: transparent;
}

.class4 {
    margin-top: -20px;
    padding-bottom: -50px;
    background-color: transparent;
}

.class5 {
    margin-top: 10px;
    background-color: transparent;
}

.class6 {
    margin-top: -20px;
    margin-bottom: -10px;
    background-color: transparent;
}

.class7 {
    border-radius: 30px;
}

.class8 {
    padding-left: 3%;
    padding-right: 3%;
}

.class9 {
    margin-top: 10%;
}

.class10 {
    margin-top: 20%;
}

.des1 {
    height: 100%;
    width: 100%;
}

.carousel .carousel-item {
    margin-top: -85px;
    margin-bottom: 50px;
    background-color: transparent;
}

.head-banner-shadow {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.head-banner {
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 50% 50%, 0% 25%);
    height: 100vh;
    box-shadow: 10px 10px 5px blue;
}

.title-card-shadow {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.title-card {
    clip-path: polygon(10% 20%, 100% 0%, 100% 25%, 50% 50%);
    height: 100vh;
    box-shadow: 10px 10px 5px blue;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li {
    display: inline;
}